.App {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
}

.progress-bar {
  width: 400px;
  height: 15px;
  background-color: black;
  margin-bottom: 50px;
}

.progress-bar div {
  width: 25%;
  height: 100%;
  background-color: rgb(98, 0, 255);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px #e1e5ee;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: auto;
  transition: transform 200ms ease-in;
  text-align: center;
}

.card__title {
  padding: 1rem;
}

.card__description {
  padding: 0 1rem;
}

.btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid rgb(98, 0, 255);
  background: transparent;
  color: rgb(98, 0, 255);
  border-radius: 0.2rem;
}
