.App {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  background: rgba(194, 233, 251, 1);
  background: radial-gradient(
    circle,
    rgba(161, 196, 253, 1) 10%,
    rgba(194, 233, 251, 1) 100%
  );
}

.progress-bar {
  width: 400px;
  height: 15px;
  background-color: white;
  margin-bottom: 50px;
}

.progress-bar div {
  width: 25%;
  height: 100%;
  background-color: rgb(98, 0, 255);
}




.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px #e1e5ee;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}
.card__image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}
.card__title {
  padding: 1rem;
}
.card__description {
  padding: 0 1rem;
}
.card__btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid #d50000;
  background: transparent;
  color: #d50000;
  border-radius: 0.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}
.card:hover {
  transform: scale(1.02);
}
.card:hover .card__btn {
  background: #d50000;
  color: white;
}